# .gitignore
__pycache__/
*.pyc
venv/
env/
.env
.DS_Store

# Dossier de travail temporaire (ne pas récupérer les modifications des étudiants ici)
sandbox/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF les fichiers de données qu'on veut récupérer
!logs/experiment_data.json
!logs/code_healers_47_experiment_data_historique.json
!logs/.gitkeep